# Gemini API Key from https://aistudio.google.com/app/apikey

# Use this for local/server-side (AI Studio)
GEMINI_API_KEY=

# Use this for client-side deployments (Vercel, Netlify)
VITE_GEMINI_API_KEY=
